<br><br>

<!-- <div class="container">
  <a 
      routerLink="/doctorAppointments"
      class="previous btn btn-primary"
      style="float: left"
      >&laquo; Previous</a
    ><br><br><br><br></div> -->
<div class="container">
    
    <h2 align="center"> PRESCRIBED DIET </h2>

<table class="table table-bordered table-hover table-striped table-sm text-center" *ngIf="(diets.breakFast != 'BreakFast Not Found!')&& diets!=undefined">
   <thead>
     <tr class="bg-info text-white">
       <th>BreakFast</th>
       <th>Lunch</th>
       <th>Dinner</th>
       <th>Doctor Name</th>
       <th>Paitient Name</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>{{ diets.breakFast }}</td>
       <td>{{ diets.lunch }}</td>
       <td>{{ diets.dinner }}</td>
       <td>Dr.{{ diets.doctor.name |uppercase }}</td>
       <td>{{ diets.user.name |uppercase }}</td>
     </tr>
   </tbody>
 </table>

</div>

<br><br><br>