<!-- <div class="container" align="center">
    <button class="btn btn-primary" (click)="showDiet()"> Show Diet </button>
</div> -->
<br/> 
    
      <br/>

<div class="container" *ngIf="diets">

    <a
        routerLink="/userDashboard"
        class="previous btn btn-primary"
        style="float: left"
        >&laquo; Previous</a
      >
      <br><br>
      <br><br>
      <h2 align="center" *ngIf="diets.length==0" >No Diets Found !</h2>
    <table class="table table-bordered table-hover table-striped table-sm text-center" *ngIf="diets.length>0">
        <thead>
            <tr class="bg-info text-white">
                <th> BreakFast </th>
                <th> Lunch </th>
                <th> Dinner </th>
                <th> Doctor Name </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diet of diets">
                <td> {{ diet.breakFast| uppercase    }} </td>
                <td> {{ diet.lunch| uppercase  }} </td>
                <td> {{ diet.dinner| uppercase   }} </td>
                <td> Dr. {{ diet.doctor.name | uppercase }} </td>
            </tr>
        </tbody>
    </table>
    </div>


    <br/> <br/>