<div class="card">
  <section class="h-10">
      
            <div class="card card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                    alt="Sample photo" class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                </div>
                <div class="col-xl-6">
                  <div>
                    <form #registrationForm="ngForm" (ngSubmit)="CreateUser(registrationForm.value)" novalidate>
                      <br />
                  
                      <h2>Doctor Registration Form</h2>
                      <br />
                      
                      
                      Name:
                      <input
                        type="text"
                        name="name"
                        ngModel
                        required
                        #name="ngModel"
                        pattern="^[a-zA-Z ]*$"
                      />
                      <div
                        style="color: red"
                        *ngIf="name.errors?.['required'] && (name.touched || name.dirty)"
                      >
                        Please enter your name
                      </div>
                      <div
                        style="color: red"
                        *ngIf="name.errors?.['pattern'] && (name.touched)"
                      >
                        Please enter alphabets only
                      </div>
                      Date of Joinig:
                      <input type="date" name="doj" ngModel required #doj="ngModel" />
                      <div
                        style="color: red"
                        *ngIf="doj.errors?.['required'] && (doj.touched || doj.dirty)"
                      >
                        Please enter your DOJ
                      </div>

                      Gender:
                          <select name="gender" ngModel required #gender="ngModel">
                            <option value="">Please select</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                          <div
                            style="color: red"
                            *ngIf="gender.errors?.['required'] && (gender.touched || gender.dirty)"
                          >
                            Please choose from here
                          </div>


                     Education:
                      <input type="text" name="education" ngModel required #education="ngModel" />
                      <div
                        style="color: red"
                        *ngIf="education.errors?.['required'] && (education.touched || education.dirty)"
                      >
                        Please enter a course name
                      </div>
                      
                      Speciality:
                      <input type="text" name="speciality" ngModel required #speciality="ngModel" />
                      <div
                        style="color: red"
                        *ngIf="speciality.errors?.['required'] && (speciality.touched || speciality.dirty)"
                      >
                        Please enter a course name
                      </div>
                      
                      Fees:
                      <input
                        type="number"
                        name="appointmentFee"
                        ngModel
                        required
                        #appointmentFee="ngModel"
                        min="0"
                        
                      />
                      <div
                        style="color: red"
                        *ngIf="appointmentFee.errors?.['required'] && (appointmentFee.touched || appointmentFee.dirty)"
                      >
                        Please enter fee amount
                      </div>
                      <div style="color: red" *ngIf="appointmentFee.errors?.['min'] && appointmentFee.touched">
                        Fee must be greater than 0 Rs
                      </div>
  
                      Email:
                      <input type="email" name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" />
                      <div
                        style="color: red"
                        *ngIf="email.errors?.['required'] && (email.touched || email.dirty)"
                      >
                        Please enter your emailId
                      </div>
                      <div
                        style="color: red"
                        *ngIf="email.errors?.['pattern'] && (email.touched || email.dirty)"
                      >
                        Please enter valid emailId
                      </div>
  
                      Password:
                      <input type="password" name="password" ngModel required  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" #password="ngModel" />
                      <div
                        style="color: red"
                        *ngIf="password.errors?.['required'] && (password.touched || password.dirty)"
                      >
                        Please enter password
                      </div>
                      <div
                        style="color: red"
                        *ngIf="password.errors?.['pattern'] "
                      >
                        Please enter valid pass
                      </div>
  
                      <button [disabled]="!registrationForm.valid" type="submit">Register</button>

                      <div>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Are you a Patient? <a routerLink="/userRegister"
                            class="link-danger" >Register as User</a></p>
                    </div>

                    </form>

                    
                  </div>
                
                </div>
              </div>
            </div>
    </section>
  </div>