<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="assets/logo.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #loginForm="ngForm" (ngSubmit)="submitReset(loginForm.value)" novalidate>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            
            <!-- <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button> -->
            
            <!-- <div *ngIf="user">
              <img src="{{user.photoUrl}}">
              <div>
                <h4>{{user.name}}</h4>
                <p></p>
              </div>
                
            </div> -->
            
          </div>

         <h1 align="center">Reset Password</h1>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="password" [(ngModel)]="password" name="password" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid password" ngModel required minlength="5" maxlength="20" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" />
            <label class="form-label" for="form3Example3">Password</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" [(ngModel)]="repassword" name="repassword" id="form3Example4" class="form-control form-control-lg"
              placeholder="confirm password" ngModel required minlength="5" maxlength="20" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"/>
            <label class="form-label" for="form3Example4">Confirm Password</label>
          </div>

          


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-success btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!loginForm.valid">Submit</button>
          </div>
          
          <div style="color:red;">
            <div *ngIf="password.errors?.['required'] && password.touched"> Please Enter Data in Password Feild</div>
            <div *ngIf="password.errors?.['minlength'] && password.touched"> Please Enter atleast 2 characters in Password Feild</div>
        
            <div *ngIf="repassword.errors?.['required'] && repassword.touched"> Please Enter Data in Confirm password Feild</div>
            <div *ngIf="repassword.errors?.['minlength'] && repassword.touched"> Please Enter atleast 2 characters in Confirm password Feild</div>
            <div *ngIf="password!=repassword">password and confirm password are not same!</div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
  
</section>

<br><br>



