<br>

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

      

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Doctor Dashboard</h1>
                    

                            <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Update doctor!</h4>
                                    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <div class="form-container">
                                        <form #updationForm="ngForm" (ngSubmit)="updateDoctor(updationForm.value)" novalidate>
                                          <br />
                                      
                                          <h2>Doctor Details Updation Form</h2>
                                          <br />
                                          
                                          
                                          Name:
                                          <input
                                            type="text"
                                            name="name"
                                            [(ngModel)]="doctor.name"
                                            required
                                            #name="ngModel"
                                            pattern="^[a-zA-Z ]*$"
                                          />
                                          <div
                                            style="color: red"
                                            *ngIf="name.errors?.['required'] && (name.touched || name.dirty)"
                                          >
                                            Please enter your name
                                          </div>
                                          <div
                                            style="color: red"
                                            *ngIf="name.errors?.['pattern'] && (name.touched)"
                                          >
                                            Please enter alphabets only
                                          </div>
                                          Date of Joinig:
                                          <input type="date" name="doj" [(ngModel)]="doctor.doj" required #doj="ngModel" />
                                          <div
                                            style="color: red"
                                            *ngIf="doj.errors?.['required'] && (doj.touched || doj.dirty)"
                                          >
                                            Please enter your DOJ
                                          </div>
                    
                                          Gender:
                                              <select name="gender" [(ngModel)]="doctor.gender" required #gender="ngModel">
                                                <option value="">Please select</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                              </select>
                                              <div
                                                style="color: red"
                                                *ngIf="gender.errors?.['required'] && (gender.touched || gender.dirty)"
                                              >
                                                Please choose from here
                                              </div>
                    
                    
                                         Education:
                                          <input type="text" name="education" [(ngModel)]="doctor.education" required #education="ngModel" />
                                          <div
                                            style="color: red"
                                            *ngIf="education.errors?.['required'] && (education.touched || education.dirty)"
                                          >
                                            Please enter a course name
                                          </div>
                                          
                                          Speciality:
                                          <input type="text" name="speciality" [(ngModel)]="doctor.speciality" required #speciality="ngModel" />
                                          <div
                                            style="color: red"
                                            *ngIf="speciality.errors?.['required'] && (speciality.touched || speciality.dirty)"
                                          >
                                            Please enter a course name
                                          </div>
                                          
                                          Fees:
                                          <input
                                            type="number"
                                            name="appointmentFee"
                                            [(ngModel)]="doctor.appointmentFee"
                                            required
                                            #appointmentFee="ngModel"
                                            min="0"
                                            
                                          />
                                          <div
                                            style="color: red"
                                            *ngIf="appointmentFee.errors?.['required'] && (appointmentFee.touched || appointmentFee.dirty)"
                                          >
                                            Please enter fee amount
                                          </div>
                                          <div style="color: red" *ngIf="appointmentFee.errors?.['min'] && appointmentFee.touched">
                                            Fee must be greater than 0 Rs
                                          </div>
                      
                                          Email:
                                          <input type="email" name="email" [(ngModel)]="doctor.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" />
                                          <div
                                            style="color: red"
                                            *ngIf="email.errors?.['required'] && (email.touched || email.dirty)"
                                          >
                                            Please enter your emailId
                                          </div>
                                          <div
                                            style="color: red"
                                            *ngIf="email.errors?.['pattern'] && (email.touched || email.dirty)"
                                          >
                                            Please enter valid emailId
                                          </div>
                      
                                          Password:
                                          <input type="password" name="password" [(ngModel)]="doctor.password" required  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" #password="ngModel" />
                                          <div
                                            style="color: red"
                                            *ngIf="password.errors?.['required'] && (password.touched || password.dirty)"
                                          >
                                            Please enter password
                                          </div>
                                          <div
                                            style="color: red"
                                            *ngIf="password.errors?.['pattern'] "
                                          >
                                            Please enter valid pass
                                          </div>
                      
                                          
                    
                                          
                    
                                <div class="modal-footer">
                                    <button [disabled]="!updationForm.valid" type="submit" class="btn btn-outline-dark" (click)="c('Save click')">Update</button>
                                </div>

                                
                            </form>
                        </div>
        
                            
                          </div>
                    </div>

                            </ng-template>
                            
                            
                            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Update Profile</button>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    
                    <div class="col-xl-4 col-md-6 mb-3">
                    <a routerLink="/doctorAppointments">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Appointments </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{appointmentCount}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    
                    <div class="col-xl-4 col-md-6 mb-3" >
                        <a routerLink="/doctorAppointments">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Pending Appointments</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{pendingAppCount}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->

                    <div class="col-xl-4 col-md-6 mb-3" >
                        <a routerLink="/doctorAppointments">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Todays Appointments</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{todaysAppCount}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>

                    <!-- Earnings (Monthly) Card Example
                    <div class="col-xl-3 col-md-6 mb-4" >
                        <a routerLink="/calorieTracker-doctor">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Calorie Meter</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">2300</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div> -->

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">APPOINTMENTS TODAY</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div *ngFor="let appointment of todaysApps">
                                    <h4> Appointment with {{appointment.user.name}} at {{appointment.appFromTime}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-3 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">APPOINTMENTS STATS</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div>
                                    <h2>TODAYS : {{todaysAppCount}}</h2>
                                    <table align="center">
                                    <tr>
                                        <td>
                                            <h5>APPROVED</h5>
                                        </td>
                                        <td><h5>:</h5></td>
                                        <td>
                                            <h5>
                                                {{todaysApprovedAppCount}}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>WAITING</h5>
                                        </td>
                                        <td><h5>:</h5></td>
                                        <td>
                                            <h5>{{todaysPendingAppCount}}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5>COMPLETED</h5>
                                        </td>
                                        <td><h5>:</h5></td>
                                        <td>
                                            <h5>{{todaysCompletedAppCount}}</h5>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">APPOINTMENTS STATS</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div>
                                    <h2>ALL : {{appointmentCount}}</h2>
                                    <table align="center">
                                        <tr>
                                            <td>
                                                <h5>APPROVED</h5>
                                            </td>
                                            <td><h5>:</h5></td>
                                            <td>
                                                <h5>
                                                    {{approvedAppCount}}</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>WAITING</h5>
                                            </td>
                                            <td><h5>:</h5></td>
                                            <td>
                                                <h5>{{pendingAppCount}}</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>COMPLETED</h5>
                                            </td>
                                            <td><h5>:</h5></td>
                                            <td>
                                                <h5>{{completedAppCount}}</h5>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                

            </div>
            <!-- /.container-fluid -->

        </div>

    </div>
    <!-- End of Content Wrapper -->

</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>