<form #registerForm="ngForm" (ngSubmit)="setDiet(registerForm.value)">
<div class="container">
    <h1 class="text-center">Diet Plan</h1>
        <div class="row">
            
                <div class="col-md-4 meal-box">
                    <h3 class="text-center">Breakfast</h3>
                    <div class="text-center">
                      <textarea class="form-control meal-input" name="breakFast" ngModel #breakFast="ngModel"></textarea>
                    </div>
                  </div>
                  <div class="col-md-4 meal-box">
                    <h3 class="text-center">Lunch</h3>
                    <div class="text-center">
                      <textarea class="form-control meal-input" name="lunch" ngModel #lunch="ngModel"></textarea>
                    </div>
                  </div>
                  <div class="col-md-4 meal-box">
                    <h3 class="text-center">Dinner</h3>
                    <div class="text-center">
                      <textarea class="form-control meal-input" name="dinner" ngModel #dinner="ngModel"></textarea>
                    </div>
                  </div>
                  
            
            <div class="text-center">
                <button class="btn btn-secondary">Set Diet and Finish</button>
            </div>
          </div>
  </div>
  </form>