.container {
    padding: 50px;
  }
  .meal-box {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    margin-bottom: 20px;
  }
  .meal-input {
    height: 150px;
    font-size: 20px;
    width: 100%;
  }
  @media (max-width: 992px) {
    .meal-box {
      margin-bottom: 10px;
    }
  }