<div class="card">
    <section class="h-100 ">
        
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" -->
                    <img src="assets/images/pexels-photo-3184306.jpeg"
                      alt="Sample photo" class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
                  <div class="col-xl-6">
                    <div>
                      <form #registrationForm="ngForm" (ngSubmit)="CreateUser(registrationForm.value)" novalidate>
                        <br />
                    
                        <h2>User Registration Form</h2>
                        <br />
                        
                        
                        Name:
                        <input
                          type="text"
                          name="name"
                          ngModel
                          required
                          #name="ngModel"
                          pattern="^[a-zA-Z ]*$"
                        />
                        <div
                          style="color: red"
                          *ngIf="name.errors?.['required'] && (name.touched || name.dirty)"
                        >
                          Please enter your name
                        </div>
                        <div
                          style="color: red"
                          *ngIf="name.errors?.['pattern'] && (name.touched)"
                        >
                          Please enter alphabets only
                        </div>
                        Date of Birth:
                        <input type="date" name="dob" ngModel required #dob="ngModel" />
                        <div
                          style="color: red"
                          *ngIf="dob.errors?.['required'] && (dob.touched || dob.dirty)"
                        >
                          Please enter your DOB
                        </div>
  
                        Gender:
                            <select name="gender" ngModel required #gender="ngModel">
                              <option value="">Please select</option>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="other">Other</option>
                            </select>
                            <div
                              style="color: red"
                              *ngIf="gender.errors?.['required'] && (gender.touched || gender.dirty)"
                            >
                              Please choose from here
                            </div>
  
  
                       Contact Number:

                        <input type="text" style="width: 80%;" name="mobile" ngModel required #mobile="ngModel" />
                        <div id="recaptcha-container"></div>
                        <button type="button" (click)="sendOTP(mobile)">Verify</button>


                        
                        <div
                          style="color: red"
                          *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty)"
                        >
                          Please enter your conatct number 
                        </div>

                        <div  *ngIf="windowRef.confirmationResult && show">
                          <hr>
                          <label for="code">Enter your Verification Code Here</label><br>
                          <input type="text" name="code" [(ngModel)]="verificationCode">
                      
                          <button type="button" (click)="verifyLoginCode()">Verify</button>
                        </div>
                        <br><br>
                        Email:
                        <input type="email" name="emailId" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #emailId="ngModel" />
                        <div
                          style="color: red"
                          *ngIf="emailId.errors?.['required'] && (emailId.touched || emailId.dirty)"
                        >
                          Please enter your emailId
                        </div>
                        <div
                          style="color: red"
                          *ngIf="emailId.errors?.['pattern'] && (emailId.touched || emailId.dirty)"
                        >
                          Please enter valid emailId
                        </div>
    
                        Password:
                        <input type="password" name="password" ngModel required  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" #password="ngModel" />
                        <div
                          style="color: red"
                          *ngIf="password.errors?.['required'] && (password.touched || password.dirty)"
                        >
                          Please enter password
                        </div>
                        <div
                          style="color: red"
                          *ngIf="password.errors?.['pattern'] "
                        >
                          Please enter valid pass
                        </div>
    
                        <button [disabled]="!check || (!registrationForm.valid)" type="submit">Register</button>
                      </form>

                      <div>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Are you a doctor? <a routerLink="/register"
                            class="link-danger" >Register as Doctor</a></p>
                    </div>
                    </div>

                  
                  </div>
                </div>
              </div>
      </section>
    </div>