<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <br><br>
            <img src="assets/logo.png" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)" novalidate>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              
              <h1 align="center"> Forgot Password</h1>
            </div>
            
            <div class="divider d-flex align-items-center my-4" *ngIf="!doctorid">
                <p class="text-center fw-bold mx-3 mb-0"></p>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="emailId" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" ngModel required minlength="2" maxlength="30" #emailId="ngModel"  />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
  
            <!-- Password input -->
            <!-- <div class="form-outline mb-3">
              <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" ngModel required minlength="2" maxlength="10" #password="ngModel"/>
              <label class="form-label" for="form3Example4">Password</label>
            </div> -->
  
           
  
            <div class="text-center text-lg-start mt-4 pt-2"  *ngIf="!doctorid">
              <button type="submit" class="btn btn-danger btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!loginForm.valid">Get OTP</button>

            </div>
          </form>

            <form #otpForm="ngForm" (ngSubmit)="submitOTP(otpForm.value)" novalidate>
            <div class="form-outline mb-4" *ngIf="doctorid">
                <input type="text" class="form-control form-control-lg"  name="otp" placeholer="Enter your otp" ngModel #otp="ngModel"/>
                <label class="form-label" for="form3Example3">OTP</label>

                <div>Time left = {{minutes}}:{{seconds | number: '2.0'}}<span id="timer" name="timer"></span></div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-danger btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Validate OTP</button>
                </div>
            </div>
          </form>
            
            <div style="color:red;">
              <div *ngIf="emailId.errors?.['required'] && emailId.touched"> Please Enter Data in Email-Id Feild</div>
              <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"> Please Enter atleast 2 characters in Email-Id Feild</div>
            </div>
            
            <div>
                <p class="small fw-bold mt-2 pt-1 mb-0">Not yet registered? Register Now <a routerLink="/register"
                    class="link-danger" >Register</a></p>
            </div>
          
        </div>
      </div>
    </div>
    
  </section>

  <br><br>

  

  