<div>
  <div class="p-5 text-center bg-light">
    <a
      routerLink="/userDashboard"
      class="previous btn btn-primary"
      style="float: left"
      >&laquo; Previous</a
    >
    <h1 class="mb-3">Online Doctors</h1>
    <div id="search">
      <input
        type="text"
        placeholder="Enter Keyword for filter result"
        [(ngModel)]="searchedKeyword"
        class="form-control"
        id="input"
      />
    </div>
    <div class="row">
      <div
        class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 cards"
        *ngFor="let doctor of doctors | filter : searchedKeyword"
      >
        <div class="card">
          <img
            *ngIf="doctor.gender == 'male'"
            src="assets/maledoctor.jpg"
            width="200px"
            height="200px"
            alt=""
          />
          <img
            *ngIf="doctor.gender == 'female'"
            src="assets/femaledoctor.jpg"
            width="200px"
            height="200px"
            alt="doctor_icon"
          />

          <div class="card-body">
            <h4 class="card-title">Dr. {{ doctor.name }}</h4>
            <p style="font-weight: bold">{{ doctor.education }}</p>
            <p style="font-weight: bold">{{ doctor.doj | exp }} YRS. EXP.</p>

            <p class="card-text">
              Speciality: {{ doctor.speciality }} <br />
              Fee: {{ doctor.appointmentFee | currency : "INR" }}
              <br />
            </p>
            <a
              class="btn btn-primary"
              (click)="bookAppointment(doctor, content)"
              >Book Appointment</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Book Appointment with Dr. {{ this.currDoctor.name }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      #appointmentForm="ngForm"
      (ngSubmit)="addAppointment(appointmentForm.value)"
      novalidate
    >
      <br />

      <br />

      Date of Appointment:
      <input
        type="date"
        name="appDate"
        ngModel
        required
        [min]="today"
        #appDate="ngModel"
      />
      <div
        style="color: red"
        *ngIf="(appDate.errors?.['required']  && (appDate.touched || appDate.dirty)) || appDate.errors?.['min']"
      >
        Please enter valid Date
      </div>
      Time of Appointment:
      <input
        type="time"
        name="appFromTime"
        ngModel
        required
        #appFromTime="ngModel"
      />
      <div
        style="color: red"
        *ngIf="(appFromTime.errors?.['required']  && (appFromTime.touched || appFromTime.dirty))"
      >
        Please enter valid Time
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-primary"
          style="cursor: pointer"
          [disabled]="!appointmentForm.valid"
          type="submit"
          (click)="modal.close('Save click')"
        >
          Book Appointment
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal End -->
