
<div class="page-wrapper bg-red p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">

        <!-- <a
        routerLink="/userDashboard"
        class="previous btn btn-primary"
        style="float: left"
        >&laquo; Previous</a> -->

        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">TRACK CALORIES</h2>
                <form #calorieForm="ngForm" (ngSubmit)="trackCalories(calorieForm.value)" novalidate>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Enter Break Fast" name="breakfast" ngModel required #breakfast="ngModel">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Enter Lunch" name="lunch" ngModel required #lunch="ngModel">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Enter Dinner" name="dinner" ngModel required #dinner="ngModel">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Enter Snack" name="snack" ngModel required #snack="ngModel">
                    </div>
                    
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    <div class="wrapper wrapper--w960 card" [hidden]="!showdiv">
        <br>
        <h3 class="title" style="align-self: center;" >NUTRIENTS AND CALORIES INTAKE</h3>
        <h4 class="title" style="align-self: center;" >TOTAL CALORIES TODAY : {{total}}</h4>
        <button (click)="toggleCollapse(1)" cButton class="btn btn--radius btn--green" color="primary">Break Fast</button>
        <div [hidden]="visible_bf" cCollapse>
        <div class="container" align="center">
            <h3> NAME : {{BF_name}}</h3>
            <h4>CALORIES : {{BF_cals}}</h4>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">NUTRIENT NAME</th>
                    <th scope="col">NUTRIENT VALUE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nutrient of BF | keyvalue">
                    <td>{{nutrient.key}}</td>
                    <td>{{nutrient.value}}</td>
                  </tr>
                </tbody>
              </table>
            <div *ngIf="count==len-1">
                <canvasjs-chart [options]="chartOptions"></canvasjs-chart>    
            </div>
        </div>

        </div>
        <button (click)="toggleCollapse(2)" cButton class="btn btn--radius btn--green" color="primary">Lunch</button>
        <div [hidden]="visible_l" cCollapse>
            <div class="container" align="center">
                <h3>NAME : {{LCH_name}}</h3>
                <h4>CALORIES : {{L_cals}}</h4>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">NUTRIENT NAME</th>
                        <th scope="col">NUTRIENT VALUE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nutrient of LCH | keyvalue">
                        <td>{{nutrient.key}}</td>
                        <td>{{nutrient.value}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

        </div>
        <button (click)="toggleCollapse(3)" cButton class="btn btn--radius btn--green" color="primary">Dinner</button>
        <div [hidden]="visible_d" cCollapse>
        <div class="container" align="center">
            <h3>NAME : {{DNR_name}}</h3>
            <h4>CALORIES : {{DNR_cals}}</h4>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">NUTRIENT NAME</th>
                    <th scope="col">NUTRIENT VALUE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nutrient of DNR | keyvalue">
                    <td>{{nutrient.key}}</td>
                    <td>{{nutrient.value}}</td>
                  </tr>
                </tbody>
              </table>
        </div>

        </div>
        <button (click)="toggleCollapse(4)" cButton class="btn btn--radius btn--green" color="primary">Snack</button>
        <div [hidden]="visible_s" cCollapse>
            <div class="container" align="center">
                <h3>NAME : {{SNK_name}}</h3>
                <h4>CALORIES : {{SNK_cals}}</h4>
                <br/><br/>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">NUTRIENT NAME</th>
                        <th scope="col">NUTRIENT VALUE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nutrient of SNK | keyvalue">
                        <td>{{nutrient.key}}</td>
                        <td>{{nutrient.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <br/><br/>
            </div>
        </div>

    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

<!-- </div> -->

