<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous"></link>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script>
	document.getElementById("date").innerHTML = new Date().toString();
</script>
<style>
.prescription-pad {
	width: 800px;
	height: auto;
	padding: 50px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.left-header {
	display: flex;
	align-items: center;
}

.logo img {
	width: 100px;
	height: auto;
}

.clinic-info {
	margin-left: 20px;
}

.clinic-info h3 {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.clinic-info p {
	margin: 0;
	font-size: 14px;
}

.patient-name {
	width: 55%;
}

.patient-id {
	width: 45%;
	text-align: right;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 40px;
}

th, td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #dddddd;
	font-weight: bold;
}

.footer {
	text-align: right;
	font-size: 12px;
}
</style>
</head>

<body>
	
	<div class="header">
		<div class="left-header">
			<p>Hi</p>&nbsp;
			<p th:text=" ${patientName}"></p>
			<p>, Here is your prescription details</p>
		</div>
	</div>
	<div class="patient-info">
		<div class="patient-name">
			<div>
				<strong>Patient ID:</strong>
				<strong th:text="${patientId}"></strong>
			</div>
			<div class="row">
				<strong >Patient Name:</strong>
				<strong th:text="${patientName}"></strong>
				
			</div>
			
		</div>
		<div class="container" align="center">
			<p>
				<strong>Medicines List</strong>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="row">

			<table class="table">
				<thead align="center">
					<tr>
						<th>Medicine</th>
						<th>Dosage</th>
						<th>Instructions</th>
					</tr>
				</thead>
				<tbody align="center">
					<tr th:each="medRecord : ${medRecords}">
						<td th:text="${medRecord.medicine}"></td>
						<td th:text="${medRecord.dosage}"></td>
						<td th:text="${medRecord.instructions}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<div>
				<strong>Doctor ID : </strong>
				<strong th:text="${doctorId}"> </strong>
			</div>
			<div>
				<strong>Doctor Name:</strong>
				<strong th:text="${doctorName}"> </strong>
			</div>
			
		</div>
	</div>

</body>
</html>


