<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <br><br>
        <img src="assets/logo.png" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <br>
            
            <h2  style="font-size: 30px;">USER LOGIN</h2>

            <br>
        <form
          #loginForm="ngForm"
          (ngSubmit)="submitForm(loginForm.value)"
          novalidate
        >
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          >
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <!-- <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button> -->
            <asl-google-signin-button></asl-google-signin-button>
            <!-- <div *ngIf="user">
                <img src="{{user.photoUrl}}">
                <div>
                  <h4>{{user.name}}</h4>
                  <p></p>
                </div>
                  
              </div> -->
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              name="emailId"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              ngModel
              required
              minlength="2"
              maxlength="50"
              #emailId="ngModel"
            />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              name="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
              ngModel
              required
              minlength="2"
              maxlength="30"
              #password="ngModel"
            />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div> -->
            <a routerLink="/ForgotPasswordUser" class="text-body"
              >Forgot password?</a
            >
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a routerLink="/userRegister" class="link-danger">Register</a>
            </p>
          </div>

          <div style="color: red">
            <div *ngIf="emailId.errors?.['required'] && emailId.touched">
              Please Enter Data in Email-Id Feild
            </div>
            <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
              Please Enter atleast 2 characters in Email-Id Feild
            </div>

            <div *ngIf="password.errors?.['required'] && password.touched">
              Please Enter Data in password Feild
            </div>
            <div *ngIf="password.errors?.['minlength'] && password.touched">
              Please Enter atleast 2 characters in password Feild
            </div>
          </div>

          <div>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Are you a Doctor?
              <a routerLink="/doctorlogin" class="link-danger"
                >Login as a doctor</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<br /><br />
