
<div class="container"> 
    <br>
    <br>
    <a
    routerLink="/doctorDashboard"
    class="previous btn btn-primary"
    style="float: left"
    >&laquo; Previous</a
  >
  <br>
   <br>

<h2 align="center"> {{title}} </h2>

<div class="container" style="padding-bottom: 50px;" >

    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="pending()">Pendings</button>
    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="requested()">Requested</button>
    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="todays()">Today's</button>
    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="all()">All</button><br><br>
    <h3 align="center" *ngIf="showRows.length==0"> No Appointments Found !</h3>
<table class="table table-bordered table-hover table-striped table-sm text-center" *ngIf="showRows.length>0" >
    <thead>
        <tr class="bg-info text-white text-center"  >
            <th> Appointment ID </th>
            <th> Appointment Time </th>
            <th> Appointment Date</th>
            <th> Status </th>
            <th> Patient </th>
            <th *ngIf="title=='TODAY\'S APPOINTMENTS' || title=='REQUESTED APPOINTMENTS'">Action</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let appointment of showRows; let i = index">
        <tr >
            <td> {{appointment.appointmentID}} </td>
            <td> {{appointment.appFromTime }} </td>
            <td> {{appointment.appDate }} </td>
            <td> {{appointment.status }} </td>
            <td> {{appointment.user.name }} </td>
            <td *ngIf="title=='TODAY\'S APPOINTMENTS'|| title=='REQUESTED APPOINTMENTS'"> 
                <button (click)="joinMeeting(appointment)"[hidden]="!(appointment.status=='approved') || !(appointment.appDate==today)">Join Meeting</button>
                <button (click)="acceptAppointment(appointment.appointmentID)" [hidden]="!(appointment.status=='waiting')">Accept</button>
                <button (click)="viewPrescription(appointment)" [hidden]="!(appointment.status=='completed')">Prescription</button>&nbsp;
                <button (click)="viewDiet(appointment)" [hidden]="!(appointment.status=='completed')">Diet</button>
                <button (click)="cancelAppointment(appointment.appointmentID)" [hidden]="!(appointment.status=='waiting')">Cancel</button>
            
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
