
<div class="container" style="padding-bottom: 50px;"> 
    <br>
    <br>
    <a
    routerLink="/userDashboard"
    class="previous btn btn-primary"
    style="float: left"
    >&laquo; Previous</a
  >
  <br>
   <br>

<h2 align="center"> {{title}} </h2>

<div class="container">

    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="pending()">Approved</button>
    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="todays()">Today's</button>
    <button class="btn btn-primary" style="float: right; margin: 5px;" (click)="all()">All</button>
    <h3 align="center" *ngIf="showRows.length==0"> No Appointments Found !</h3>
    <table class="table table-bordered table-hover table-striped table-sm text-center" *ngIf="showRows.length>0" >    <thead>
        <tr class="bg-info text-white text-center">
            <th> Appointment ID </th>
            <th> Appointment Time </th>
            <th> Appointment Date</th>
            <th> Status </th>
            <th> doctor </th>
            <th> prescription </th>
            <th> Diet </th>
            <th *ngIf="title=='TODAY\'S APPOINTMENTS'">Action</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let appointment of showRows; let i = index">
        <tr >
            <td> {{appointment.appointmentID}} </td>
            <td> {{appointment.appFromTime }} </td>
            <td> {{appointment.appDate }} </td>
            <td> {{appointment.status }} </td>
            <td> {{appointment.doctor.name }} </td>
            <td> <button [disabled]="!(appointment.status=='completed')" (click)="showPrescription(appointment)" >View</button> </td>
            <td> <button [disabled]="!(appointment.status=='completed')" (click)="showDiet(appointment)" >View</button> </td>
            <td *ngIf="title=='TODAY\'S APPOINTMENTS'"> <button (click)="joinMeeting(appointment)" [disabled]="!(appointment.status=='approved')">Join Meeting</button> </td>
        </tr>
    </tbody>
</table>
</div>
</div>
<!-- [disabled]="!(appointment.status=='completed')" -->