.nav-link {
  color: aliceblue;
}
.navbar-nav {
  color: aliceblue;
}
.nav-link:hover {
  color: rgba(240, 248, 255, 0.819);
}
.navbar-nav:hover {
  color: rgba(240, 248, 255, 0.819);
}
.navbar-brand {
  color: aliceblue;
}
/* footer{
  margin-top: 80%;

} */
