<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div>
        &nbsp; &nbsp;

        <a class="navbar-brand">Virtual Doc</a>
      </div>

      <ul class="navbar-nav">
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLink="/logout" class="nav-link">Logout</a>
        </li>
        <li>
          <a routerLink="/video" class="nav-link">Video</a>
        </li>
        <li>
          <a routerLink="/video2" class="nav-link">Video2</a>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<div>
  <header style="background-color: rgba(41, 75, 39, 255)">
    <nav class="navbar navbar-expand-md">
      <div>
        &nbsp; &nbsp;
        <img
          src="assets/logo.png"
          style="padding-bottom: 3px"
          height="40px"
          width="40px"
          alt=""
        />
        &nbsp;

        <a class="navbar-brand" style="font-weight: bold; font-size: large">
          Virtual Doc</a
        >
      </div>

      <ul class="navbar-nav" style="padding-bottom: 5px">
        <li>
          <a routerLink="" *ngIf="!isLoggedIn" class="nav-link">Home</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/userRegister" class="nav-link">Register</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLink="/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div>
  <router-outlet></router-outlet>
</div>

  <!-- Footer -->
  <footer
    class="text-center text-lg-start text-muted"
    style="background-color: rgba(41, 75, 39, 255); color: white"
  >
    <!-- Section: Social media -->
    <section
      style="background-color: rgba(41, 75, 39, 255); color: white"
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="" style="color: white">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <img
                src="assets/logo.png"
                height="25px"
                width="25px"
                style="padding-bottom: 4px"
                alt=""
              />
              Virtual Doc
            </h6>
            <p>
              We are one of the leading company in Health Sector with Certified
              Doctors from wide range of Specialities
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Services</h6>
            <p>24*7 Health Support</p>
            <p>Video Meeting</p>
            <p>Clinic Experience</p>
            <p>Calorie Tracker</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Statictics</h6>
            <p>200+ Doctors</p>
            <p>25+ Specialities</p>
            <p>500+ Trusted Users</p>
            <p>1000+ Nutrients Data</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Goregaon, Mumbai, India</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              virtual.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 12 34 23 55</p>
            <p><i class="fas fa-print me-3"></i> + 91 455 345 2233</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#">virtual.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
