<!-- Page Wrapper -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      #updateForm="ngForm"
      (ngSubmit)="updateUser(updateForm.value)"
      novalidate
    >
      <br />

      <h2>User Edit Profile Form</h2>
      <br />

      Name:
      <input
        type="text"
        name="name"
        [(ngModel)]="user.name"
        required
        #name="ngModel"
        pattern="^[a-zA-Z ]*$"
      />
      <div
        style="color: red"
        *ngIf="name.errors?.['required'] && (name.touched || name.dirty)"
      >
        Please enter your name
      </div>
      <div
        style="color: red"
        *ngIf="name.errors?.['pattern'] && (name.touched)"
      >
        Please enter alphabets only
      </div>
      Date of Birth:
      <input
        type="date"
        name="dob"
        [(ngModel)]="user.dob"
        required
        #dob="ngModel"
      />
      <div
        style="color: red"
        *ngIf="dob.errors?.['required'] && (dob.touched || dob.dirty)"
      >
        Please enter your DOB
      </div>

      Gender:
      <select
        name="gender"
        [(ngModel)]="user.gender"
        required
        #gender="ngModel"
      >
        <option value="">Please select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <div
        style="color: red"
        *ngIf="gender.errors?.['required'] && (gender.touched || gender.dirty)"
      >
        Please choose from here
      </div>

      Contact Number:
      <input
        type="text"
        name="mobile"
        [(ngModel)]="user.mobile"
        #mobile="ngModel"
      />
      <div
        style="color: red"
        *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty)"
      >
        Please enter your conatct number
      </div>

      Email:
      <input
        type="email"
        name="emailId"
        readonly
        [(ngModel)]="user.emailId"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        #emailId="ngModel"
      />
      <div
        style="color: red"
        *ngIf="emailId.errors?.['required'] && (emailId.touched || emailId.dirty)"
      >
        Please enter your emailId
      </div>
      <div
        style="color: red"
        *ngIf="emailId.errors?.['pattern'] && (emailId.touched || emailId.dirty)"
      >
        Please enter valid emailId
      </div>

      Password:
      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        required
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
        #password="ngModel"
      />
      <div
        style="color: red"
        *ngIf="password.errors?.['required'] && (password.touched || password.dirty)"
      >
        Please enter password
      </div>
      <div style="color: red" *ngIf="password.errors?.['pattern'] ">
        Please enter valid pass
      </div>

      <div class="modal-footer">
        <button
          [disabled]="!updateForm.valid"
          type="submit"
          class="btn btn-primary"
          style="cursor: pointer"
          (click)="c('Save click')"
        >
          Update User
        </button>
      </div>
    </form>
  </div>
</ng-template>
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <br />
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">User Dashboard</h1>
          <a
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
            (click)="open(content)"
            ><i class="fas fa-download fa-sm text-white-50"></i> Edit profile
          </a>
        </div>

        <!-- Content Row -->
        <div class="row">
          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/appointments">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                      >
                        My Appointments
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{this.appointmentsCount}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/doctorlist">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-success text-uppercase mb-1"
                      >
                        Doctors List
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{this.doctorsCount}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/dietForUser">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-info text-uppercase mb-1"
                      >
                        My Diets
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ dietCount }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-apple-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <a routerLink="/calorieTracker-user">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                      >
                        Calorie Tracker
                      </div>
                      <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">0 KCAL</div> -->
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ this.latestpCT.calorieCount }} KCAL
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Content Row -->

        <div class="row">
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
              >
                <h6 class="m-0 font-weight-bold text-primary">
                  LATEST PRESCRIPTION
                </h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div >
                  <table class="table table-bordered table-hover table-striped table-sm text-center" *ngIf="medRecords.length>1">
                      <thead>
                          <tr class="bg-info text-white">
                              <th>Medicine</th>
                              <th>Dosage</th>
                              <th>Instructions</th>
                            </tr>
                      </thead>

                      <tbody *ngFor="let record of medRecords; let i = index">
                          <tr>
                          <td>
                              {{medRecords[i].medicine}}
                          </td>
                          <td>
                              {{medRecords[i].dosage}}
                          </td>
                          <td>
                              {{medRecords[i].instructions}}
                          </td>
                          </tr>
                      </tbody>
                      
                    </table>
                    </div>
                    <div class="mt-4 text-center small">
                      <a routerLink="/appointments">View All Prescriptions</a>
                    </div>
              </div>
            </div>
          </div>

          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
              >
                <h6 class="m-0 font-weight-bold text-primary">
                  LATEST DIET PLAN
                </h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div *ngIf="(diets.breakFast != 'BreakFast Not Found!')&& diets!=undefined">
                  <table
                    class="table table-bordered table-hover table-striped table-sm text-center"
                  >
                    <thead>
                      <tr class="bg-info text-white">
                        <th>BreakFast</th>
                        <th>Lunch</th>
                        <th>Dinner</th>
                        <th>Doctor Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ diets.breakFast }}</td>
                        <td>{{ diets.lunch }}</td>
                        <td>{{ diets.dinner }}</td>
                        <td>{{ diets.doctor.name }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="mt-4 text-center small">
                  <a routerLink="/dietForUser">View All Diets</a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->
        <div class="row">
          <!-- Content Column -->
          <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4" style="overflow-y:scroll; height: 70%;">
              <section class="gradient-custom-2">
                <div class="container py-5 h-100">
                  <div
                    class="row d-flex justify-content-center align-items-center h-100"
                  >
                    <div class="col-md-12 col-xl-10">
                      <div class="card mask-custom">
                        <div class="card-body p-4">
                          <div class="text-center pt-3 pb-2">
                            <img
                              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                              alt="Check"
                              width="60"
                            />
                            <h2 class="my-4">Calorie Track</h2>
                          </div>

                          <table style="color: blueviolet" class="table mb-0">
                            <thead>
                              <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Calorie</th>
                                <th scope="col">Intake Level</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                class="fw-normal"
                                *ngFor="let p of pCT; let i = index"
                              >
                                <td>
                                  {{pCT[i].date}}
                                </td>
                                <td class="align-middle">
                                  <span>{{ pCT[i].calorieCount }}</span>
                                </td>
                                <td class="align-middle">
                                  <h6
                                    *ngIf="
                                      this.p.calorieCount <= 1500 &&
                                      this.p.calorieCount >= 1201
                                    "
                                    class="mb-0"
                                  >
                                    <span class="badge bg-danger"
                                      >High Intake</span
                                    >
                                  </h6>
                                  <h6
                                    *ngIf="
                                      this.p.calorieCount >= 800 &&
                                      this.p.calorieCount <= 1200
                                    "
                                    class="mb-0"
                                  >
                                    <span class="badge bg-success"
                                      >Medium Intake</span
                                    >
                                  </h6>
                                  <h6
                                    *ngIf="
                                      this.p.calorieCount >= 0 &&
                                      this.p.calorieCount <= 799
                                    "
                                    class="mb-0"
                                  >
                                    <span class="badge bg-warning"
                                      >Low Intake</span
                                    >
                                  </h6>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <!-- Illustrations -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">BMI Calculator</h6>
              </div>

              <div class="card-body">

                <div [hidden]="bmi!=0">
                  <h1 align="center">00.0</h1>
                </div>

                <div [hidden]="bmi==0">
                  <h1 align="center">{{bmi | number:'2.1-1'}}</h1>
                </div>
                <img style="height:80px; width:100%;" src="assets\\images\\BMI-Scale1.jpg"/>

                
                <br>
                Height 
                <input type="number" [(ngModel)]="height_f" placeholder="Feet" step=".01"/>
                <input type="number" [(ngModel)]="height_i" placeholder="Inch" step=".01"/>
                Weight 
                <input type="number" [(ngModel)]="weight" placeholder="Kilograms"/>
                <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                  (click)="calculate()"> Calculate BMI
                </a>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>