<div>

<head>
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Lato"
    rel="stylesheet"
    type="text/css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div class="jumbotron text-left" style="padding-left: 7%; height:750px;background-size:100%;background-image: url('assets/images/HomePage.png');background-repeat: no-repeat;">
    <p style="font-size:20px">HEALTH BEFORE EVERYTHING</p>
    <hr style="height:2px;width: 20%;">
    <br>
    <h1 style="font-size:80px; color: black;">Virtual Doctor</h1><br>
    <h3 style="font-size: 35px; color: green;">HEALING HEALTH ISSUES WITH CARE</h3>
    <p>
      Talk to our Experienced General-Physician Now
      <a
        style="text-decoration: none; color: rgba(255, 255, 255, 0.842)"
        routerLink="login"
        >Now</a
      ><br><br>
      <button routerLink="/login" style="border-radius: 40px; 
      padding: 20px 40px 20px 40px;
      background-color: bisque; border-color: bisque;">
      Get Started
    </button>
    </p>
    <form></form>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Why Virtual Doctor</h2>
        <br />
        <h4 >
          Welcome to Virtual Doctor, your online destination for finding the
          best doctors of all specialties. We understand the importance of
          finding the right healthcare provider for your needs, which is why
          we've made it our mission to connect you with the top medical
          professionals.
        </h4>
        <br />
        <p>
          Our platform is designed to make the search process simple and
          seamless. With just a few clicks, you can browse through a
          comprehensive list of doctors, view their expertise. Whether you're
          looking for a primary care physician, a specialist, or a dentist,
          you'll find the expert you need to diagnose yourself.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="assets/homeimg1.jpg" alt="" height="100%" width="105%" />
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <img src="assets/missionimg.png" alt="" height="100%" width="105%" />
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2>
        <br />
        <h4>
          <strong>MISSION:</strong> <br />
          Our mission is to make healthcare accessible and affordable at any
          time for everyone. With our application you can search for doctors,
          book appointments, kepp track of your calorie intake and manage your
          healthcare all from the comfort of your own home. Whether you're
          dealing with a chronic condition, seeking preventive care, or just
          need a routine check-up, we've got you covered.
        </h4>
        <br />
        <p>
          <strong>VISION:</strong> <br />
          We believe in empowering patients with the knowledge and resources
          they need to take control of their health. Our team is dedicated to
          providing you with the latest and most accurate information, so you
          can make informed decisions about your care.
        </p>
      </div>
    </div>
  </div>
  <!-- other data -->

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid">
    <h2 class="text-center">OUR SERVICES</h2>
    <br />
    <ul style="float: left; margin-left: 180px">
      <li><h4>24*7 Online Doctor</h4></li>
      <li><h4>100% Safe Consultaion</h4></li>
      <li><h4>Video Call Interaction</h4></li>
      <li><h4>Calorie Tracker</h4></li>
      <li><h4>200+ Certified Doctors</h4></li>
    </ul>
    <ul style="float: right; margin-right: 180px">
      <li><h4>Similar Clinic Experience</h4></li>
      <li><h4>Get Diet and Prescription</h4></li>
      <li><h4>Doctors with 25+ Specialities</h4></li>
      <li><h4>Book Appointment as convinient</h4></li>
      <li><h4>Privacy of Patient's data</h4></li>
    </ul>
    <br /><br />
  </div>
  <br /><br /><br /><br />
  <br />
  <br />
  <br />
  <br />

  <!-- Container (Portfolio Section) -->
  <!-- <div id="portfolio" class="container-fluid text-center bg-white">
    <h2 class="text-center">How it Works</h2>
    <br />
    <br />
    <img src="assets/work2.png" alt="" height="20%" width="20%" />

    <img src="assets/arrow.png" alt="" height="50px" width="50px" />
    <img src="assets/work1.png" alt="" height="20%" width="20%" />
    <img src="assets/arrow.png" alt="" height="50px" width="50px" />
    <img src="assets/work3.png" alt="" height="20%" width="20%" />
    <img src="assets/arrow.png" alt="" height="50px" width="50px" />
    <img src="assets/work4.png" alt="" height="20%" width="20%" />

    <br />
  </div> -->
</body>
</div>