<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>



<div class="prescription-pad" id="contentToConvert">
    <div class="header">
      <div class="left-header">
        <div class="logo"> 
          <img src="/assets/logo.png">
        </div>

        <div class="clinic-info" >
          <b style="color:black;"><i>Your</i></b><br/>
          <b style="color:black"><i>Health</i></b><br/>
          <b style="color:black"><i>Is our priority</i></b>
        </div>
      </div>
      <div class="right-header">
        <h2>Prescription</h2>
      </div>
    </div>
    <div class="patient-info">
      <div class="patient-name">
        <p><strong>Patient Name:</strong> {{patientId}}</p>
        <p><strong>Patient ID:</strong> {{patientName}}</p>
      </div>
      <div class="patient-id">
        
      </div>
    </div>
    <div class="table-container" >
        <div align="center">
            <p ><button class = "btn btn-secondary" (click)="addRecord()" >Add Medicine</button></p>
        </div>
        <div *ngIf="medRecords.length==0?false:true">
            <table>
                <thead>
                    <tr>
                        <th>Medicine</th>
                        <th>Dosage</th>
                        <th>Instructions</th>
                        <th colspan="2" >Action</th>
                      </tr>
                </thead>
                <tbody *ngFor="let record of medRecords; let i = index">
                    <tr>
                    <td>
                        <input type="text" name="medicine" [(ngModel)]="medRecords[i].medicine"  />
                    </td>
                    <td>
                        <input type="text" name="dosage" [(ngModel)]="medRecords[i].dosage"  />
                    </td>
                    <td>
                        <input type="text" name="instructions" [(ngModel)]="medRecords[i].instructions"/>
                    </td>
                    <td> <button class="glyphicon glyphicon-trash btn btn-secondary"  (click)="deleteRecord(record)"></button> </td>
                    </tr>
                </tbody>
                
              </table>
        </div>
        
        
      </div>
      
      
    <br/>
    <br/>
    <div class="footer">
      <p><strong>Doctor Name:</strong> {{doctorName}}</p>
      <p><strong>Doctor ID  : </strong> {{doctorId}}</p>
      <p><strong>Date:</strong> {{today | date}}</p>
      <p>This prescription is valid for 6 months from the date of issue</p>
    </div>
    
  </div>
  <br/>
  <div class="container" align="center">
    <button  class="btn btn-secondary"   value="Convert" [disabled]="!showBtn" (click)="sendPres()">Send Presription</button>
    <!-- <button  class="btn btn-secondary"   value="Convert" (click)="setDiet()">Set Diet</button> -->
    <!-- <button  class="btn btn-secondary"   value="Convert" (click)="finish()">Finish</button> -->
    <!-- create a method to call setdiet -->
    <br><br>
</div>
   
   