.prescription-pad {
    width: 800px;
    height: auto;
    padding: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .left-header {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .clinic-info {
    margin-left: 20px;
  }
  
  .clinic-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .clinic-info p {
    margin: 0;
    font-size: 14px;
  }
  
  .patient-name {
    width: 45%;
  }
  
  .patient-id {
    width: 45%;
    text-align: right;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #dddddd;
    font-weight: bold;
  }
  
  .footer {
    text-align: right;
    font-size: 14px;
  }
  
  