<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!-- <div class="container">
<a 
    routerLink="/appointments"
    class="previous btn btn-primary"
    style="float: left"
    >&laquo; Previous</a
  ><br><br><br><br></div> -->

<div class="prescription-pad" id="contentToConvert">
  
    <div class="header">
      <div class="left-header">
        <div class="logo"> 
          <img src="/assets/logo.png">
        </div>

        <div class="clinic-info" >
          <b style="color:black;"><i>Your</i></b><br/>
          <b style="color:black"><i>Health</i></b><br/>
          <b style="color:black"><i>Is our priority</i></b>
        </div>
      </div>
      <div class="right-header">
        <h2>Prescription</h2>
        <p><strong>Prescription ID:</strong> {{presId}}</p>
      </div>
    </div>
    <div class="patient-info">
      <div class="patient-name">
        
        <p><strong>Patient Name:</strong> {{appointment.user.name}}</p>
        <p><strong>Patient ID:</strong> {{appointment.user.userId}}</p>
      </div>
      <div class="patient-id">
        
      </div>
    </div>
    <div class="table-container" >
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Medicine</th>
                        <th>Dosage</th>
                        <th>Instructions</th>
                      </tr>
                </thead>
                <tbody *ngFor="let record of medRecords; let i = index">
                    <tr>
                    <td>
                        {{record.medicine}}
                    </td>
                    <td>
                        {{record.dosage}}
                    </td>
                    <td>
                        {{record.instructions}}
                    </td>
                    </tr>
                </tbody>
                
              </table>
        </div>
        
        
      </div>
      
      
    <br/>
    <br/>
    <div class="footer">
      <p><strong>Doctor Name:</strong> {{appointment.doctor.name}}</p>
      <p><strong>Doctor ID  : </strong> {{appointment.doctor.docId}}</p>
      <p><strong>Date:</strong> {{today | date}}</p>
      <p>This prescription is valid for 6 months from the date of issue</p>
    </div>
    
  </div>
  <br/>
   